# Library Imports
- This will import all necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# sets up the data sets to be used

# data source:
# https://catalog.data.gov/dataset/illinois-population-1991-1999-30290
old_data = pd.read_csv('data/Illinois_Population__1991-1999.csv')

# data source:
# https://catalog.data.gov/dataset/illinois-population-2000-2009-b6d2b
new_data = pd.read_csv('data/Illinois_Population__2000-2009.csv')

# data source:
# http://www.zillow.com/research/data/
prices = pd.read_csv('data/ZHVI_vals.csv')

# sets a map to a county and its corresponding index
counties_list = list(old_data['County'][1:])
indices = np.array([i for i in range(len(counties_list))]) + 1
county_data = dict(zip(counties_list, indices))

county = 'Champaign'

## Helper Functions - Population
    These functions are some helper functions that help in handling the population data

In [3]:
# returns the first row in population CSV (the header)

def return_year_list_pop(data_set):
    first_row = list(data_set.head(1))[1:]
    return np.array(list(map(int, first_row)))

In [4]:
# updates the width and height of the plot

def set_size(width, height):
    fig_size = plt.rcParams["figure.figsize"]
    fig_size[0] = float(width)
    fig_size[1] = float(height)
    plt.rcParams["figure.figsize"] = fig_size

In [5]:
# prints out the county list

def county_list():
    l = list(county.keys())
    for i in l:
        print(i)

## Helper Functions - Home Prices
    These functions are some helper functions that help in handling the home price data

In [7]:
def price_for_year(dictionary):
    ret = dict()
    for k, v in dictionary.items():
        year = str(k)[:4]
        curr_list = ret.get(year, list())
        curr_list.append(dictionary.get(k, 0))
        ret[year] = curr_list
    for k, v in ret.items():
        curr_list = ret[k]
        curr_list = np.array(curr_list)
        curr_list = np.nan_to_num(curr_list)
        ret[k] = np.array(curr_list)
    return ret

## Code Cell below will display the plot

In [8]:
# gets the population data ready
x_axis_old = return_year_list_pop(old_data)
x_axis_new = return_year_list_pop(new_data)
years_list = np.array(list(x_axis_old) + list(x_axis_new))
row_old = list(old_data.loc[old_data['County'] == county].iloc[0])
row_new = list(new_data.loc[new_data['County'] == county].iloc[0])
city_name = row_old[0]
del row_new[0]
city_pop = row_old[1:] + row_new[:]
city_pop = [float(i) for i in city_pop]

# gets the home price data ready
county_price = prices.loc[prices['RegionName'] == county].iloc[0]
total_price_dict = dict(county_price)
price_dict = price_for_year(total_price_dict)   
for i in range(1996, 2017):
    t = list(price_dict.get(str(i)))
    print(str(i) + ': ' + str(t))
# county_price = np.array(county_price.fillna(value=0, inplace=False))
# county_price = np.delete(county_price, 0)
# print(county_price)

# sets up the plot
set_size(11, 7)
plt.title('Population for ' + str(city_name))
x = [i for i in range(19)]

# plt.xticks(x, years_list)
# plt.plot(city_pop)
# plt.show()

1996: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
1997: [88800.0, 88900.0, 78800.0, 86900.0, 88300.0, 0.0, 81800.0, 87900.0, 87200.0, 84300.0, 87800.0, 86000.0]
1998: [83700.0, 80600.0, 82800.0, 81400.0, 84300.0, 83300.0, 81000.0, 80800.0, 85200.0, 86200.0, 82000.0, 82100.0]
1999: [89200.0, 86900.0, 89700.0, 89000.0, 85800.0, 84800.0, 88700.0, 90200.0, 88000.0, 90000.0, 89300.0, 88900.0]
2000: [90200.0, 90200.0, 91300.0, 91700.0, 90000.0, 93200.0, 92800.0, 92300.0, 92100.0, 92000.0, 90000.0, 90500.0]
2001: [99700.0, 96300.0, 99200.0, 99000.0, 99800.0, 97400.0, 98100.0, 94900.0, 99300.0, 99000.0, 98700.0, 93700.0]
2002: [102900.0, 107300.0, 104000.0, 105500.0, 106200.0, 99200.0, 102100.0, 99700.0, 101100.0, 101500.0, 104900.0, 100600.0]
2003: [114300.0, 113100.0, 116000.0, 116800.0, 110200.0, 112000.0, 108600.0, 115300.0, 109600.0, 108100.0, 111100.0, 109000.0]
2004: [118900.0, 118100.0, 122300.0, 118600.0, 119000.0, 119500.0, 118500.0, 123200.0, 121600.0, 117600.0, 120500.0, 119000.0]
2005: [129700.0, 129000.0, 127500.0, 124300.0, 130900.0, 128100.0, 125100.0, 125600.0, 126600.0, 131600.0, 129600.0, 130100.0]
2006: [131900.0, 133600.0, 130800.0, 131400.0, 132200.0, 133400.0, 133000.0, 132400.0, 130400.0, 133500.0, 133000.0, 133500.0]
2007: [131100.0, 131800.0, 135300.0, 134800.0, 135100.0, 134400.0, 133300.0, 130300.0, 130500.0, 132600.0, 135100.0, 133800.0]
2008: [134900.0, 134300.0, 130900.0, 133200.0, 131800.0, 131100.0, 131300.0, 131000.0, 131200.0, 131100.0, 130800.0, 131100.0]
2009: [131000.0, 130300.0, 131200.0, 130400.0, 130200.0, 130800.0, 131000.0, 131500.0, 130700.0, 131400.0, 130000.0, 130500.0]
2010: [129900.0, 130900.0, 130200.0, 129900.0, 130100.0, 130400.0, 130000.0, 129900.0, 130000.0, 131000.0, 130800.0, 130000.0]
2011: [127000, 130900, 129300, 129000, 128200, 129800, 129900, 129200, 130500, 127600, 129600, 130100]
2012: [126500, 126500, 126900, 128100, 126800, 126600, 128000, 129000, 127300, 126400, 127000, 128900]
2013: [126100, 126500, 128400, 127200, 129200, 128400, 126700, 129200, 126600, 126200, 127500, 126900]
2014: [127300, 127400, 127400, 128000, 127100, 127600, 129500, 127200, 128600, 127700, 127100, 127700]
2015: [132200, 130900, 130000, 130600, 132600, 130800, 131700, 130100, 130700, 130900, 130300, 131100]
2016: [134400, 134000, 133900, 133500, 134200, 133300, 133600, 134100, 133300, 133400, 134000]

In [9]:
prices

,RegionName,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11
0,Cook,128700.0,129000.0,128900.0,128600.0,128400.0,128400.0,128500.0,128800.0,129000.0,...,197200,198500,200200,201000,201600,202300,203100,203700,204800,205800
1,Du Page,161200.0,161000.0,161200.0,161500.0,162100.0,162700.0,163000.0,163300.0,163800.0,...,261900,262700,263600,264400,264800,265000,266000,268300,270900,272500
2,Lake,170700.0,170400.0,169800.0,168800.0,167800.0,167100.0,167000.0,167500.0,168000.0,...,225100,226200,227000,228000,228400,228100,228200,229300,230500,231200
3,Will,131900.0,131600.0,131700.0,132000.0,132500.0,133000.0,133500.0,133900.0,134300.0,...,191400,191700,191500,191800,192800,193900,195200,196300,196700,197100
4,Kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201500,201400,201900,203100,204200,204800,205300,206100,207500,208700
5,McHenry,151500.0,151300.0,151300.0,151500.0,151500.0,151400.0,151300.0,151300.0,151500.0,...,188300,189700,191300,192600,193000,192700,192800,193700,195500,197200
6,Winnebago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91900,93100,94300,95000,95300,95600,96000,96800,97400,97800
7,Saint Clair,67300.0,67400.0,67700.0,68700.0,69600.0,69700.0,69900.0,70300.0,70300.0,...,88100,89100,90300,90900,91400,92000,92700,93100,93500,93800
8,Champaign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133900,133600,133300,133300,133500,134000,134200,134000,134100,134400
9,Sangamon,83900.0,84700.0,85400.0,85900.0,85900.0,86100.0,86500.0,87000.0,87000.0,...,121300,121400,121100,120700,120900,121400,122000,122400,122600,122700
10,Peoria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103200,103800,104400,104900,105200,105000,104600,104300,104200,104100
11,Rock Island,59600.0,59500.0,59700.0,59900.0,60100.0,60200.0,60200.0,60300.0,60500.0,...,98300,98600,99300,100000,100600,101100,101500,102000,102500,103000
12,Tazewell,55000.0,56800.0,58300.0,59400.0,60900.0,63000.0,64700.0,66500.0,68500.0,...,121200,121700,121800,121800,122000,122000,121700,121600,121600,121600
13,Kendall,144800.0,142700.0,141800.0,141800.0,142300.0,142700.0,143200.0,143800.0,144400.0,...,208400,209300,210400,211500,212500,213200,213700,214500,215900,217500
14,La Salle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95000,96200,97900,99900,100800,100200,99300,99000,99000,99200
15,Kankakee,88000.0,86900.0,86700.0,86400.0,85700.0,85200.0,84700.0,84100.0,83800.0,...,116600,117700,118800,119700,120200,120100,120300,120700,120900,121100
16,DeKalb,170000.0,171300.0,171200.0,170300.0,168900.0,167000.0,164400.0,161400.0,157500.0,...,149300,149100,149100,149200,149700,150400,151200,151500,151700,152100
17,Whiteside,115900.0,117500.0,116600.0,109400.0,97200.0,89300.0,87900.0,87000.0,84500.0,...,83200,84600,85500,85900,85900,85000,85100,86600,87600,87500
18,Boone,146800.0,145000.0,145700.0,143700.0,137900.0,132500.0,129800.0,128100.0,127200.0,...,141900,143100,143700,144200,144500,144400,144500,145200,146100,146900
19,Coles,96500.0,96400.0,96400.0,96400.0,96400.0,96400.0,96400.0,96500.0,96500.0,...,79500,79400,79600,79600,79200,79000,79500,80100,80400,80700
20,Ogle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63200,61000,59400,58200,57500,57300,57300,57200,57200,57300
21,Knox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74000,73400,72900,72200,71800,72100,72800,73400,73500,73200
22,Henry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109000,109800,110700,112000,113500,114500,115400,113800,110300,107400
23,Grundy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169800,170300,171900,174400,177200,178500,178800,178300,177900,177500
24,Macoupin,48500.0,48700.0,49100.0,49200.0,48600.0,48300.0,48000.0,47600.0,47100.0,...,75300,75700,76300,76800,77400,77800,77500,77300,77600,78000
25,Livingston,66200.0,67900.0,69500.0,70000.0,70500.0,70400.0,70700.0,71200.0,71600.0,...,84300,83600,83300,84000,85000,85300,84800,84900,85900,86700
26,Morgan,62600.0,62400.0,62100.0,61500.0,60400.0,59800.0,60200.0,60500.0,59800.0,...,85600,86100,86700,86700,86100,85300,85000,85500,86000,86300
27,Effingham,73900.0,74900.0,76400.0,76900.0,76600.0,76300.0,75300.0,74100.0,73100.0,...,123000,123300,123800,124400,124900,125400,126100,126600,127000,127300
28,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159600,157500,155000,152500,149600,145700,141300,136600,132000,128100
29,Dewitt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81900,82500,82700,82700,83200,83400,83200,83100,82700,82000