# Library Imports
- This will import all necessary libraries

In [2]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [3]:
old_data = pd.read_csv('Illinois_Population__1991-1999.csv', skiprows=1)
new_data = pd.read_csv('Illinois_Population__2000-2009.csv', skiprows=1)

In [33]:
x = list(old_data['Illinois'])
old_data['Illinois']

0            Adams
1        Alexander
2             Bond
3            Boone
4            Brown
5           Bureau
6          Calhoun
7          Carroll
8             Cass
9        Champaign
10       Christian
11           Clark
12            Clay
13         Clinton
14           Coles
15            Cook
16        Crawford
17      Cumberland
18          DeKalb
19         De Witt
20         Douglas
21          DuPage
22           Edgar
23         Edwards
24       Effingham
25         Fayette
26            Ford
27        Franklin
28          Fulton
29        Gallatin
          ...
72           Perry
73           Piatt
74            Pike
75            Pope
76         Pulaski
77          Putnam
78        Randolph
79        Richland
80     Rock Island
81       St. Clair
82          Saline
83        Sangamon
84        Schuyler
85           Scott
86          Shelby
87           Stark
88      Stephenson
89        Tazewell
90           Union
91       Vermilion
92          Wabash
93          Warren
94      Washington
95           Wayne
96           White
97       Whiteside
98            Will
99      Williamson
100      Winnebago
101       Woodford
Name: Illinois, dtype: object